.pageWrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0;
  min-height: calc(100vh - 200px);
  background: #ffffff;
  position: relative;
}

.pageWrapper > * {
  padding: 24px;
  position: relative;
}

.pageWrapper > section[class*="hero-section"] {
  padding: 0;
}

@media (max-width: 767px) {
  .pageWrapper {
    margin: 0 16px;
  }
  
  .pageWrapper > * {
    padding: 16px;
  }
  
  .pageWrapper > section[class*="hero-section"] {
    padding: 0;
  }
}

@media (min-width: 768px) {
  .pageWrapper {
    margin: 0 auto;
    padding: 0 32px;
  }
  
  .pageWrapper > * {
    padding: 32px 0;
  }
  
  .pageWrapper > section[class*="hero-section"] {
    padding: 0;
  }
}

@media (min-width: 1024px) {
  .pageWrapper {
    margin: 0 auto;
    padding: 0 48px;
  }
  
  .pageWrapper > * {
    padding: 48px 0;
  }
  
  .pageWrapper > section[class*="hero-section"] {
    padding: 0;
  }
}